body {
  background: #ffffff;
}

box {
  position: absolute;
  min-width: 450px;
  max-width: 500px;
  min-height: 600px;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  background: #ffffff;
  border: 1px solid #bbb5b5;
  box-sizing: border-box;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
}

.cad {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #878282;
}

.campo {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #bbb5b5;
}

input.solid {
  border: 0px none white;
  border-bottom: 1px solid #bbb5b5;
}

input:focus {
  outline: none;
}

.register-form {
  display: grid;
  grid-gap: 7px 7px;
  margin-left: 31px;
  margin-right: 31px;
  margin-bottom: 31px;
}

.btcad {
  width: 122px;
  height: 41px;


  background: #4d4d65;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  color:#ffffff;

}

/* Margem entre as rows do form de cadastro */
.register-form .row {
    margin-bottom: 14px;
}