<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../javaScript/homepage.js"></script>
    <link rel="stylesheet" type="text/css" href="/front-end/css/index.css">
    <link rel="stylesheet" type="text/css" href="/front-end/css/homepage.css">
    <title>Homepage</title>
</head>
<body>
    <header>
        <form id="search">
            <input type="text" placeholder="Busque o que você deseja ">
            <button type="submit">
            <div id="icon">
                <img id="icon_search" src="/front-end/icons/search.svg" alt="busca">
            </div>
             </button>
        </form>
        <div id="nav-menu" class="nav-menu">
            <button id="btn-login" type="input">Login</button>
            <button onclick="window.location.href='signup-page.html'" id="btn-cadastre-se" type="input">Cadastre-se</button>
        </div>
    </header>

    <div class="flex-container">
        <div class="conteudo">
            <div class="img"></div>
            <div class="container-text">
                <div class="txt"></div>
                <div class="txt"></div>
            </div>
        </div>
        <div class="conteudo">
            <div class="img"></div>
            <div class="container-text">
                <div class="txt"></div>
                <div class="txt"></div>
            </div>
        </div>
        <div class="conteudo">
            <div class="img"></div>
            <div class="container-text">
                <div class="txt"></div>
                <div class="txt"></div>
            </div>
        </div>
    </div>
    <div class="flex-container">
        <div class="conteudo">
            <div class="img"></div>
            <div class="container-text">
                <div class="txt"></div>
                <div class="txt"></div>
            </div>
        </div>
        <div class="conteudo">
            <div class="img"></div>
            <div class="container-text">
                <div class="txt"></div>
                <div class="txt"></div>
            </div>
        </div>
        <div class="conteudo">
            <div class="img"></div>
            <div class="container-text">
                <div class="txt"></div>
                <div class="txt"></div>
            </div>
        </div>
    </div>
    <footer class="nav-footer">
        <div class="info-footer">
            <p>Termos e condições</p>
            <p>Como protegemos sua privacidade</p>
            <p>Contato</p>
            <p>Sobre</p>
        </div>
        <div id="chat">
            <img id="icon-footer" src="/front-end/icons/message.svg" alt="chat">
        </div>
    </footer>
</body>
</html>
