<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/profile_page.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 
    <title>Home</title>
</head>

<body>
    <header>
        <form id="search">
            <input type="text" placeholder="Busque o que você deseja ">
            <button type="submit">
                <div id="icon">
                    <img id="icon_search" src="../icons/search.svg" alt="busca">
                </div>
            </button>
        </form>
        <div class="nav-menu">
            <button id="btn-login" type="input">Login</button>
            <button id="btn-cadastre-se" type="input">Cadastre-se</button>
        </div>
    </header>
    
        <section class="flex-conteiner"> 
            <label for="fname"class="titulo">Meus Dados</label><br>
            <div id="content2" >
                <label for="fname"class="titulo" >Dados da conta</label>
                <a href="https://www.w3schools.com" class="link">Precisa de ajuda com os dados da sua conta</a>
            </div>
            
            <select class="item">
                <option selected>Usuario</option>
                <option value="1">Um</option>
                <option value="2">Dois</option>
                <option value="3">Três</option>
            </select><br>
            <select class="item" id="usuario_personalizado">
                <option selected>Usuario</option>
                <option value="1">Um</option>
                <option value="2">Dois</option>
                <option value="3">Três</option>
            </select><br><br>
            <div id="content2">
                <label for="fname"class="titulo">Dados pessoais</label>
                <a href="https://www.w3schools.com" class="link">Precisa de ajuda com os dados da sua conta</a>
            </div>
            
            <select class="item">
                <option selected>Nome completo</option>
                <option value="1">Um</option>
                <option value="2">Dois</option>
                <option value="3">Três</option>
            </select><br>
            <select class="item" id="documento_personalizado">
                <option selected>Documento</option>
                <option value="1">Um</option>
                <option value="2">Dois</option>
                <option value="3">Três</option>
            </select><br>
            <select class="item" id="telefone_personalizado">
                <option selected>Telefone</option>
                <option value="1">Um</option>
                <option value="2">Dois</option>
                <option value="3">Três</option>
            </select><br><br>
            <label class="titulo">Cartões</label>
        <div class="box_cartao">
            <div class="titulo">

                <img src="../icons/cartao.png" class="img_cartao_primeira">
                <div class="cartao_dados_titulo">
                    <p class="cartao_dados_subtitulo_primera">
                        Terminado em 7859
                    </p>
                    <p class="cartao_dados_subtitulo_primiera_parte"> 
                        Mastercard
                    </p>
                    <p class="cartao_dados_subtitulo_primiera_parte">
                        Vencimento: 11/2050
                    </p>
                </div>
                
                
           
        
    
            </div>
            <button class="excluir_segunda">Excluir</button>
        </div>
        <div class="box_cartao_segunda">
            <div class="titulo_segunda">
    
                <img src="../icons/cartao.png" class="img_cartao_segunda">
                <div class="cartao_dados_titulo">
                    <p  class="cartao_dados_subtitulo_segunda">
                        Terminado em 7859
                    </p>
                    <p class="cartao_dados_subtitulo_segunda_parte"> 
                        Mastercard
                    </p>
                    <p class="cartao_dados_subtitulo_segunda_parte">
                        Vencimento: 11/2050
                    </p>
                </div>
                
    
            </div>
            
            <button class="excluir_segunda">Excluir</button>
        </div>
            
        
       <br><br>
       <label class="titulo" >Endereço</label>
     
        <div class="box_endereco">
            <p class="paragrafo_primeiro_p1">Travessa Adalto Feitosa da Silva </p>
                <p class="paragrafo_primeiro_p2">Pereira dos Santos 2300</p>
                    <div class="titulo_endereco">
    
                        <p class="paragrafo_segunda_p1">Referencia: (Correio da cidade) Caixa postal 10
                            </p>
                            <p class="paragrafo_segunda_p2"> São Paulo(12290000), Campinas</p>
                           <p class="paragrafo_segunda_p3">De Paula Carvalho Pinto - 16 997985469</p>
                            
    
    
                    </div>
                    
                    <i class="material-icons" id="more_vert">more_vert</i>
           </div>
        
               
                <select class="box_endereco_link " >
                    
                    <option value="1"  class="adicionar_link">Adicionar endereço</option>
                    <option value="2">Dois</option>
                    <option value="3">Três</option>
                </select><br>
          
        
           
     
      
        </section>
        
        
    <footer class="nav-footer">
        <div class="info-footer">
            <p>Termos e condições</p>
            <p>Como protegemos sua privacidade</p>
            <p>Contato</p>
            <p>Sobre</p>
        </div>
        <div id="chat">
            <img id="icon-footer" src="../icons/message.svg" alt="chat">
        </div>
    </footer>
</body>

</html>