
.flex-container {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 150px;
}

.conteudo {
    background-color: #f1f1f1;
    margin-top: 50px;
    padding: 20px;
    font-size: 30px;
    width: 250px;
    height: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
}
.img {
    border-radius: 3px;
    width: 85%;
    height: 200px;
    background-color: #C4C4C4;
}

.container-text {
    width: 85%;
    height: 80px;
    background-color: #C4C4C4;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.txt {
    width: 80%;
    height: 15px;
    background: #4D4D65;
    margin-top: 10px;
}

.icon-header {
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-top: 4px;
}
a{
    text-decoration: none;
    color: #fff;
}