* {
    padding: 0px;
    margin: 0px;
    outline-style: none;
}
html, body {
    width: 100%;
    height: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

}
