#toasted-container {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0px;
}
#toasted {
    display: none;
    width: 320px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 6px;
    color: #fff;
    font-size: 12pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    margin-top: 20px;
    transition: all 0.4s ease-in;
}
#toasted > img {
    width: 10px;
}
.error {
    background-color: rgb(241, 125, 125);
    border-left: 10px solid red;
}
.success {
    background-color: rgb(94, 219, 94);
    border-left: 10px solid green;
}
